<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<button value="adelante">PA´LANTE</button>
<button value="atras">PA´TRAS</button>
<button value="izquierda">PODEMOS</button>
<button value="derecha">VOX</button>

<div id="obstaculo">
</div>
<script>

  moverTeclado = (e) => {
    let mov = e.keyCode
    axios.post('/arduino', { mov })
      .then(data => console.log(data))
      .catch(err => console.log(err))

  }
  parar = () => {
    axios.post('/arduino', { mov: "stop" })
      .then(data => console.log(data))
      .catch(err => console.log(err))
  }


  document.addEventListener('keydown', moverTeclado)
  document.addEventListener('keyup', parar)




</script>